html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

span{
  color: rgb(182, 179, 179);
  /* background-color: pink; */
}

.designgroup{
  background: linear-gradient(165.23deg, rgba(255, 255, 255, 0.32) 19.6%, rgba(217, 143, 209, 0.172229) 33.31%, rgba(39, 158, 213, 0.0928) 58.87%, rgba(140, 176, 170, 0.0928) 74.37%);
  padding: 0 -200px;
}

#home{
  /* height: 1000px; */
  margin-top: -15rem;
}

#about{
  background:  linear-gradient(173.48deg, rgba(255, 255, 255, 0.32) 15.17%, rgba(243, 243, 243, 0.32) 30.78%, rgba(39, 158, 213, 0.0928) 60.59%, rgba(207, 224, 221, 0.0928) 79.94%);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
